[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.11"
psycopg2-binary = "*"
whitenoise = "*"
python-decouple = "*"
dj-database-url = "*"
django = "==3.0"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
